<form class="" action="/bookmarks" method="post">
  <label for="url">Enter URL</label>
    <input type="text" name="url" placeholder="URL">
    <label for="title">Enter Title</label>
    <input type="text" name="title" placeholder="Title">
    <input type="submit" value="Add to bookmarks">
</form>
