<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
      <form class="" action="/bookmarks/<%= bookmark.id %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="delete bookmark">
      </form>
      <form class="" action="/bookmarks/<%= bookmark.id %>/edit" method="get">
      <input type="submit" value="edit bookmark">
      </form>
    </li>
  <% end %>
</ul>

<a href="/bookmarks/new">Add bookmark</a>
